.logo {
  max-height: 80px;
  max-width: 120px;
  background-color: #fff;
  font-family: $Roboto;
}
.logo_text {
  height: 100%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: $white;
  background-color: #464646;
}
.logo_no_part {
  color:#464646;
  background-color: $white;
  padding: 0 4px;
  margin-right: 2px;
}